*{
    margin: 5px;
    padding: 0;
    background-color: rgb(56, 56, 56);
    color: rgb(214, 214, 214);
}

header {
    padding-bottom: 50px;
    text-align: center;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    font-size: 35px;
}

.high-score-page {
    display: flex;
    justify-content: center;
}

.high-score-page > h1 {
    font-size: 50px;
}

.timer {
    display: flex;
    align-items: center;
}


.home-screen {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.home-screen > h1 {
    font-size: 50px;
}

.home-screen > p {
    font-size: 30px;
}

#start-button {
    margin: 20px;
    padding: 10px;
    font-size: 30px;
    border-radius: 13px;
}

#start-button:hover {
    background-color: rgb(77, 77, 77);
    cursor: pointer;
}

.question-title {
    font-size: 40px;
    padding-bottom: 30px;
}

.multiple-choice {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.multiple-choice > p {
    font-size: 20px;
}

.initials {
    display: flex;
    padding: 10px;
    font-size: 25px;
    border-radius: 5px;
}

.choice-buttons {
    width: 30%;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    border-radius: 13px;
}

.choice-buttons:hover {
    background-color: rgb(77, 77, 77);
    cursor: pointer;
}

.high-score-page {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.scores-list > li {
    font-size: 30px;
}

@media (max-width: 816px) {
    .question-title {
        text-align: center;
        font-size: 35px;
    }

    .choice-buttons {
        width: 40%;
        padding: 25px;
        font-size: 30px;
    }
}

@media (max-width: 626px) {
    .choice-buttons {
        width: 60%;
        padding: 25px;
        font-size: 30px;
    }
}

@media (max-width: 436px) {
    .choice-buttons {
        width: 80%;
        padding: 25px;
        font-size: 30px;
    }
}

@media (max-width: 463px) {
    header {
        padding-bottom: 50px;
        font-size: 25px;
    }

    .home-screen > h1 {
        font-size: 40px;
    }
    
    .home-screen > p {
        font-size: 30px;
    }
}

@media (max-width: 391px) {
    .home-screen > h1 {
        font-size: 30px;
    }
    
    .home-screen > p {
        font-size: 25px;
    }

}

@media (max-width: 344px) {
    header {
        padding-bottom: 50px;
        font-size: 20px;
    }

    .choice-buttons {
        width: 100%;
        padding: 25px;
        font-size: 30px;
    }
}
